html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 128);
}

#content {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 30%;
    left: 37%;
    border: 1px dashed black;
    background-color: gray;
}